{% extends 'base.html'%}

{%block content%}
<!-- WRAPPER-->
<div id="wrapper-content"><!-- PAGE WRAPPER-->
    <div id="page-wrapper"><!-- MAIN CONTENT-->
        <div class="main-content"><!-- CONTENT-->
            <div class="content">
                <div class="page-login rlp">
                    <div class="container">
                        <div class="login-wrapper rlp-wrapper">
                            <div class="login-table rlp-table"><a href="index.html"><img src="/static/assets/images/logo-color-1.png" alt="" class="login"/></a>

                                <div class="login-title rlp-title">登录享学课堂!</div>
                                <form action="{% url 'login' %}" method="post">
                                <div class="login-form bg-w-form rlp-form">

                                      <div class="row">
                                          <div class="col-md-12"><label for="regemail" class="control-label form-label">用户名 <span class="highlight">*</span></label><input id="regemail" type="text" name="username" placeholder="" class="form-control form-input"/><!--p.help-block Warning !--></div>
                                          <div class="col-md-12"><label for="regpassword" class="control-label form-label">密码 <span class="highlight">*</span></label><input id="regpassword" type="password" name="password" placeholder="" class="form-control form-input"/><!-- p.help-block Warning !--></div>
                                      </div>

                                </div>
                                <div class="login-submit">
                                    <button type="submit"  class="btn btn-login btn-green"><span>登录</span></button>
                                </div>
                                <h3 style="color:red">{{error_msg}}</h3>
                                {% csrf_token %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- BUTTON BACK TO TOP-->
    <div id="back-top"><a href="#top"><i class="fa fa-angle-double-up"></i></a></div>
</div>

{%endblock%}
